:root {
    --light: rgb(246,246,246);
    --fa-red: red;
    --fa-purple: purple;
    --fa-gray: gray;
    --fa-yellow: yellow;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
    background: var(--light);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7em;
    background-color: white;
    margin-bottom: 1em;
}
header a {
    text-decoration: none;
}
header .logo {
    background-color: black;
    border-radius: 2px;
    color: white;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    margin: .5em;
}
header .search {
    width: 50vw;
    height: 2em;
    padding-left: 1em;
}

.log_in {
    background: none;
    border: none;
    padding: .5em 1em;
    border-radius: 5px;
}
.log_in:hover {
    background: rgb(59,73,223,0.1);
    text-decoration: underline;
    color:rgb(47,58,178);
}
.create_account {
    background: none;
    border: none;
    padding: 4.667px 11.333px;
    border-radius: 5px;
    border: 2px solid rgb(47,58,178);
    color:rgb(47,58,178);
}
.create_account:hover {
    text-decoration: underline;
    color:white;
    background: rgb(47,58,178);
}






main {
    display: flex;
}

main .left {
    width: 20%;
    margin: 0 10px;
}
main .articles {
    width: 55%;
    margin: 0 10px;
}
main .right {
    width: 25%;
    margin: 0 10px;
}




.account {
    background-color: white;
    padding: 1em;
    border-radius: 7px;
}
.account p:first-child {
    font-weight: 600;
    margin-top: 0;
}
.account button {
    width: 100%;
    margin: 1px;
}









.tags nav {
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
}
.tags nav a {
    text-decoration: none;
    color: black;
    padding: .5em 1em;
    border-radius: 5px;
}
.tags nav a:hover {
    background: rgb(59,73,223,0.1);
    text-decoration: underline;
    color:rgb(47,58,178);
}







main .articles nav {
    display: flex;
    justify-content: flex-start;
    gap: 1.5em;
}
main .articles nav a {
    text-decoration: none;
    color: black;
}
main .articles nav a:hover {
    color: blue;
}
main .articles article {
    background-color: white;
    border-radius: 7px;
    margin: 1em 0;
    display: flex;
    gap: 10px;
}
main .articles article:not(.featured) {
    padding: 2em;
}
main .articles article figure {
    margin: 0;
    display: flex;
    flex-direction: column;
}

main .featured figure > img {
    width: 100%;
    border-radius: 7px 7px 0 0;
}
main figcaption {
    padding: 1em;
    display: flex;
    gap: 10px;
}
main figcaption > img, 
main article > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: 10px;
}
main article p,
main article date {
    font-size: .8em;
}
main .articles .featured figure figcaption div div,
main .articles article div div {
    display: flex;
}


.threads > h4 {
    margin-bottom: 0;
}
.threads > h4 + p {
    font-size: .8em;
    margin-top: 0;
}
.threads p:nth-child(3) {
    margin-bottom: 0;
}
.threads p:nth-child(4) {
    font-size: .8em;
    color: gray;
    margin-top: 0;
}
.threads article {
    margin: 2em 0;
}